type file
id SuperGlue.CommandSender
version 1.0
authors Mattias Jakobsson
description
        Middleware
files
    bin/Release/SuperGlue.CommandSender.dll ==> lib
dependencies
	SuperGlue.Configuration