type file
id SuperGlue.Web.Diagnostics
version 1.0
authors Mattias Jakobsson
description
        Authorization middleware
files
    bin/Release/SuperGlue.Web.Diagnostics.dll ==> lib
	bin/Release/*.spark ==> lib