type file
id SuperGlue.Web.Diagnostics
version 1.0
authors Mattias Jakobsson
description
        Authorization middleware
files
	bin/Release/**/*.* ==> content/SubApplications/SuperGlue.Web.Diagnostics
dependencies
	SuperGlue.Diagnostics