type file
id SuperGlue.EventTracking
version 1.0
authors Mattias Jakobsson
description
        Event tracking middleware
files
    bin/Release/SuperGlue.EventTracking.dll ==> lib
dependencies
	SuperGlue.Configuration