source https://nuget.org/api/v2
source https://www.myget.org/F/jajo/api/v2

nuget BCrypt.Net
nuget Consul
nuget CSharpTest.Net.Collections
nuget dotless
nuget EasyHttp
nuget EventStore.Client
nuget Fixie
nuget FluentCommandLineParser
nuget FluentValidation
nuget FubuCsProjFile
nuget HalClient.Net
nuget HtmlTags
nuget JaJo.Migrations
nuget JaJo.Projects.Templating
nuget MarkdownSharp
nuget Microsoft.CodeAnalysis.CSharp
nuget Microsoft.Owin.Host.SystemWeb
nuget Microsoft.Owin.SelfHost
nuget Microsoft.WindowsAzure.Management.Storage
nuget Microsoft.WindowsAzure.StorageClient
nuget NLog
nuget RavenDB.Client.Authorization
nuget Should
nuget Spark
nuget Superscribe
nuget System.Reactive
nuget Topshelf
nuget structuremap