source https://nuget.org/api/v2

nuget BCrypt.Net
nuget EventStore.Client
nuget FluentCommandLineParser
nuget FubuCsProjFile
nuget HtmlTags
nuget Microsoft.CodeAnalysis.CSharp
nuget Microsoft.Owin.Host.SystemWeb
nuget Microsoft.Owin.SelfHost
nuget Newtonsoft.Json
nuget Owin
nuget RavenDB.Client
nuget RavenDB.Client.Authorization
nuget Rx-Main
nuget Spark
nuget StackExchange.Redis
nuget Superscribe
nuget Topshelf
nuget structuremap