source https://nuget.org/api/v2
source https://www.myget.org/F/jajo/api/v2

nuget BCrypt.Net
nuget Consul
nuget CSharpTest.Net.Collections
nuget EasyHttp
nuget EventStore.Client
nuget Fixie
nuget FluentCommandLineParser
nuget FluentValidation
nuget FubuCsProjFile
nuget HalClient.Net
nuget HtmlTags
nuget JaJo.Migrations
nuget JaJo.Projects.Templating
nuget Microsoft.CodeAnalysis.CSharp
nuget Microsoft.Owin.Host.SystemWeb
nuget Microsoft.Owin.SelfHost
nuget Microsoft.WindowsAzure.Management.Storage
nuget Microsoft.WindowsAzure.StorageClient
nuget NLog
nuget Newtonsoft.Json
nuget Owin
nuget RavenDB.Client
nuget RavenDB.Client.Authorization
nuget Rx-Main
nuget Should
nuget Spark
nuget StackExchange.Redis
nuget Superscribe
nuget Topshelf
nuget structuremap