type file
id SuperGlue.ParameterParsing
version 1.0
authors Mattias Jakobsson
description
        Middleware
files
    bin/Release/SuperGlue.ParameterParsing.dll ==> lib
dependencies
	SuperGlue.Configuration