type file
id SuperGlue.EventStore
version 1.0
authors Mattias Jakobsson
description
        Authorization middleware
files
    bin/Release/SuperGlue.EventStore.dll ==> lib
dependencies
	EventStore.Client
	Newtonsoft.Json
	Rx-Main
	SuperGlue.Configuration
	SuperGlue.UnitOfWork
	SuperGlue.EventTracking