type file
id SuperGlue.Web.Assets
version 1.0
authors Mattias Jakobsson
description
        Assets middleware
files
    bin/Release/SuperGlue.Web.Assets.dll ==> lib
dependencies
	SuperGlue.Configuration