type file
id SuperGlue.WebSubApplication
version 1.0
authors Mattias Jakobsson
description
        Middleware
dependencies
	SuperGlue.Web.FileUpload
	SuperGlue.Web.Output.Html
	SuperGlue.Web.PartialRequests
	SuperGlue.Web.RouteInputValidator
	SuperGlue.Web.Routing
	SuperGlue.Web.Validation
	SuperGlue.CommandSender
	SuperGlue.Configuration
	SuperGlue.FeatureToggler
	SuperGlue.ParameterParsing
	SuperGlue.Security
	SuperGlue.UnitOfWork
	SuperGlue.RavenDb