type file
id SuperGlue.Security
version 1.0
authors Mattias Jakobsson
description
        Authorization middleware
files
    bin/Release/SuperGlue.Security.dll ==> lib
dependencies
	SuperGlue.Configuration