type file
id SuperGlue.RavenDb
version 1.0
authors Mattias Jakobsson
description
        Authorization middleware
files
    bin/Release/SuperGlue.RavenDb.dll ==> lib
dependencies
	RavenDb.Client
	SuperGlue.Configuration
	SuperGlue.UnitOfWork