type file
id SuperGlue.MetaData
version 1.0
authors Mattias Jakobsson
description
        Metadata middleware
files
    bin/Release/SuperGlue.MetaData.dll ==> lib
dependencies
	SuperGlue.Configuration