type file
id SuperGlue.Hosting.SystemWeb
version 1.0
authors Mattias Jakobsson
description
        SuperGlue System.Web host
files
    bin/Release/SuperGlue.Hosting.SystemWeb.dll ==> lib
dependencies
	Microsoft.Owin.Host.SystemWeb >= 3.0.1
	SuperGlue.Configuration