type file
id SuperGlue.Discovery.Consul.Checks.Ttl
version 1.0
authors Mattias Jakobsson
description
        Consul ttl check integration for SuperGlue
files
    bin/Release/SuperGlue.Discovery.Consul.Checks.Ttl.dll ==> lib
dependencies
	SuperGlue.Discovery.Consul
	SuperGlue.Configuration
	Consul
	SuperGlue.Monitoring