type file
id SuperGlue.Diagnostics
version 1.0
authors Mattias Jakobsson
description
        Authorization middleware
files
    bin/Release/SuperGlue.Diagnostics.dll ==> lib
dependencies
	SuperGlue.Configuration