type file
id SuperGlue.ContentParsing
version 1.0
authors Mattias Jakobsson
description
        Authorization middleware
files
    bin/Release/SuperGlue.ContentParsing.dll ==> lib
dependencies
	SuperGlue.Configuration
	SuperGlue.Web.Output