type file
id SuperGlue.Web.Routing.Superscribe
version 1.0
authors Mattias Jakobsson
description
        Middleware
files
    bin/Release/SuperGlue.Web.Routing.Superscribe.dll ==> lib
dependencies
	Superscribe
	SuperGlue.Configuration