type file
id SuperGlue.StructureMap
version 1.0
authors Mattias Jakobsson
description
        Middleware
files
    bin/Release/SuperGlue.StructureMap.dll ==> lib
dependencies
	structuremap
	SuperGlue.Configuration