type file
id SuperGlue.Notifications
version 1.0
authors Mattias Jakobsson
description
        Notifications middleware
files
    bin/Release/SuperGlue.Notifications.dll ==> lib
dependencies
	SuperGlue.Configuration